.scene {
    &__section {
      height: 100vh;
      /*padding: 2rem;*/
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
  
      &--intro { background-color: rgb(213, 226, 241);}
      &--year2000 { background-color: black ; color: white;}
      &--year1900 { background-color: forestgreen; color: white; }
      &--year1575 { background-color: gold; }
      &--year1025 { background-color: orange; }
      &--ending { background-color: hotpink; }
    }

    &__title {
      position: relative;
      top: -20%;
    }

    &__subtitle{
      position: relative;
      top: -20%;
    }

    &__text {
      background-color: white;
      color: black;
      padding: 2rem;
      border-radius: 15px;
      box-shadow: 5px 5px grey;
    }
    
}

.bubble--left {
  position: absolute;
  left: 10%;
}

.bubble--right {
  position: absolute;
  right: 10%;
}

.ground {
  position: relative;   // test, trying to make it more universal
  bottom: -30%;
  width: 100%;
  height: 25vh; 
}

.ground2 {
  position: absolute;
  bottom: -110%;
  width: 100%;
  height: 25vh; /* 1/4 of the viewport height */
}
