.scene {
    &__section {
      position: relative;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      overflow: hidden;
  
      &--intro { background-color: rgb(213, 226, 241);}
      &--year2000 { background-color: rgb(24, 22, 94) ; color: white;}
      &--year1900 { background-color: rgb(74, 188, 241); color: white; }
      &--year1575 { background-color: rgb(129, 182, 177); }
      &--year1025 { background-color: rgb(186, 232, 238); }
      &--ending { background-color: rgb(218, 253, 253); }
    }

    &__title {
      position: absolute;
      top: 20%;
    }

    &__subtitle{
      position: absolute;
      top: 25%;
    }

    &__text {
      background-color: white;
      color: black;
      padding: 2rem;
      border-radius: 15px;
      box-shadow: 5px 5px grey;
    }

    &__section__ground {
        position: absolute;
        bottom: 0%;
        width: 100%;
        height: 25vh; 
    }
    &__img__firework-1 {
      position: absolute;
      max-height: 20%;
      top: 35%;
      left: 10%;
      opacity: 0;
    }
    &__img__firework-2 {
      position: absolute;
      max-height: 10%;
      top: 35%;
      left: 70%;
      opacity: 0;
    }
    &__img__cube {
      position: absolute;
      top: 60%;
      left: 90%;
      max-height: 80%;
    }
    &__img__car {
      position: absolute;
      top: 50%;
      max-height: 30%;
      left: 100%;
    }
    &__img__castle {
      position: absolute;
      max-height: 50%;
      left: 70%;
      opacity: 0;
    }
    &__img__crown {
      position: absolute;
      max-height: 10%;
      top: 52%;
      left: 60.5%;
      transform: rotate(10deg);
      opacity: 0;
    }
    &__img__person {
      position: absolute;
      max-height: 30%;
      left: 55%;
      top: 60%;
      opacity: 0;
    }
    &__img__mountains {
      position: absolute;
      left: -10%
    }
    &__img__ship {
      position: absolute;
      max-height: 30%;
      top: 50%;
      left: 90%;
      transform: scaleX(-1);
    }
    &__recycle-bin {
      position: absolute;
      max-height: 40%;
      top:50%;
      opacity: 0;
    }
    .text-1 {
      position: absolute;
      top: 35%;
      left: 60%;
    }
    .text-2 {

    }
}



.bubble--left {
  position: absolute;
  left: 10%;
}

.bubble--right {
  position: absolute;
  right: 10%;
}

